<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="user/dashboard"></ion-back-button>
    </ion-buttons>  
    <ion-title>Events</ion-title>
    <ion-buttons *ngIf="admin == true" (click)="gotoadd()" slot="end">
      <ion-icon size="large"  name="add"></ion-icon>
    </ion-buttons>      
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
      <ion-row dragula="Events" [(dragulaModel)]="events">
        <!-- iterate each events-->

        <ion-col size-md="3" push-md="1" class="vamp" *ngFor="let event of events">
            <div class="image">
              <img mat-card-image [src]="event.file"/>
            </div>

            <div class="Desc">
              <div class="title"> 
                {{ event.name | slice:0:6 }}
              </div>
              <div class="action" *ngIf="admin == true"> 
                <ion-buttons class="edit-action"  (click) = "gotoedit(event)">  <ion-icon size="small  " name="create"></ion-icon> </ion-buttons>
                  <ion-buttons class="delete-action" (click) = "delete(event)">  <ion-icon size="small  " name="trash"></ion-icon> </ion-buttons>                
              </div>            
            </div>              
        </ion-col>
      
    

      </ion-row>
    </ion-grid>

</ion-content>
