<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="user/dashboard"></ion-back-button>
    </ion-buttons>  
    <ion-title>Events</ion-title>
    <ion-buttons *ngIf="admin == true" (click)="gotoadd()" slot="end">
      <ion-icon size="large"  name="add"></ion-icon>
    </ion-buttons>      
  </ion-toolbar>
</ion-header> -->
<app-header [title]="'Events'"></app-header>


<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Drag to Re-Order Events</ion-label>
      <ion-button color="medium" *ngIf="admin == true" (click)="gotoadd()" slot="end">
        <ion-icon size="medium"  name="add"></ion-icon> Add Event
      </ion-button>   
    </ion-item>
  </ion-list>

  <ion-grid >
    <ion-row class="ion-align-items-center" dragula="Events" class="ion-align-items-center" [(dragulaModel)]="events">
      <ion-col *ngFor="let event of events" sizeXl="3" sizeMd="6" sizeSm="6" sizeXs="6" routerLink="/events/view/{{events.id}}">
        <ion-card>
          <img src="{{event.file}}" />
          <ion-card-header>
            <ion-card-title>{{event.name}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>    

</ion-content>
