<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input
                type="email"
                ngModel
                name="email"
                required
                email
                #emailCtrl="ngModel"
                pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
              ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!emailCtrl.valid && emailCtrl.touched"
              lines="none"
            >
              <ion-label>
                Should be a valid email address.
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                type="password"
                ngModel
                name="password"
                required
                minlength="6"
                #passwordCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
              lines="none"
            >
              <ion-label>
                Should at least be 6 characters long.
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
            <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="!form.valid"
          >
            Login
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size-sm="6" offset-sm="3">
          <ion-item *ngIf = "isInvalid"  lines="none">
            <ion-label color="danger" fill="clear">
              Wrong password. Try again !!
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <div text-center>
            If you don't have an account, please <a routerLink='/user/register'>
              register</a> first!
           </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>


  <div class="ion-text-center">
    <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  </div> 
</ion-content>
